* {
    margin: 0;
    padding: 0;
}

/*
font-family: 'Montserrat', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Playfair Display', serif;*/

/*fonts starts*/

h1 {
    font-family: 'Oswald', sans-serif;
}

p,
ul,
li,
a {
    font-family: 'Montserrat', sans-serif;
}

button {
    font-family: 'Oswald', sans-serif;
}

/*fonts ends*/


/* header starts */
header {
    height: 80px;
    background-color: #303030;
    overflow: hidden;
}

.logo {
    width: 30%;
    float: left;
}

.logo img {
    width: 15%;
    margin-top: 20px;
    margin-left: 10%;
}

.nav {

    float: right;

    text-align: center;
    width: 50%;
    height: 80px;
}

.nav ul {

    list-style: none;
    margin-top: 30px;
    overflow: hidden;
}

.nav ul li {

    float: left;
}

.nav ul li a {

    text-decoration: none;
    margin-right: 42px;
    color: #fff;
}

/* header ends */

/* banner starts */
.banner {
    background: url(../Images/banner.png);
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    height: 93vh;
}

.banner_text {

    padding-top: 350px;
    padding-left: 55px;
    ;
}

.banner_text h1 {
    font-size: 110px;
    color: #fff;
}

.banner_text p {
    color: #fff;
    font-size: 30px;
    margin-top: 10px;
}

.banner_text button {
    margin-top: 20px;
    background: transparent;
    padding: 10px 30px;
    background-color: #e8631c;
    border: none;
    cursor: pointer;
}

/* banner ends */

/* dance tour card starts*/
.Dance_tour {

    height: 920px;
    background-color: #e8631c;
}

.dance_text {

    padding-top: 60px;
    margin-bottom: 60px;
}

.dance_text h1 {

    text-align: center;
    color: #fff;
    font-size: 50px;
}

.dance_text p {

    text-align: center;
    color: #fff;
    font-size: 25px;
    margin-top: 50px;
}

.cards {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}

.card1 {
    height: 570px;
    width: 25%;
    background-color: #303030;
}

.card1 img {

    width: 100%;
}

.card1 h1 {

    padding: 20px;
    text-align: center;
    color: #fff;
    font-size: 30px;
}

.card1 p {

    color: #fff;
    text-align: center;
    font-size: 20px;
}

.card2 {
    height: 570px;
    width: 25%;
    background-color: #303030;
}

.card2 img {

    width: 100%;
}

.card2 h1 {

    padding: 20px;
    text-align: center;
    color: #fff;
    font-size: 30px;
}

.card2 p {

    color: #fff;
    text-align: center;
    font-size: 20px;
}


.card3 {
    height: 570px;
    width: 25%;
    background-color: #303030;
}

.card3 img {

    width: 100%;
}

.card3 h1 {

    padding: 20px;
    text-align: center;
    color: #fff;
    font-size: 30px;
}

.card3 p {

    color: #fff;
    text-align: center;
    font-size: 20px;
}

/* dance tour card ends*/

/* PRICING STARTS*/
.Pricing {

    height: 920px;
    background-color: #303030;
}

.pricing_text {

    padding-top: 60px;
    margin-bottom: 60px;
}

.pricing_text h1 {

    text-align: center;
    color: #fff;
    font-size: 50px;
}

.pricing_text p {

    text-align: center;
    color: #fff;
    font-size: 25px;
    margin-top: 50px;
}

.chart {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}

.basic {
    height: 550px;
    width: 25%;
    background-color: #e8631c;
    border-radius: 10px;
}

.basic img {
    padding: 90px;
}

.basic h1 {

    padding: 20px;
    text-align: center;
    color: #fff;
    font-size: 30px;
}

.basic p {

    color: #fff;
    text-align: center;
    font-size: 20px;
}

.basic button {

    cursor: pointer;
    padding: 20px 186px;
    margin-top: 25px;
    font-size: 20px;
    color: #fff;
    background-color: transparent;
    background-color: #303030;
    border: none;
}

.professional {
    height: 550px;
    width: 25%;
    background-color: #e8631c;
    border-radius: 10px;
}

.professional img {

    padding: 90px;
}

.professional h1 {

    padding: 20px;
    text-align: center;
    color: #fff;
    font-size: 30px;
}

.professional p {

    color: #fff;
    text-align: center;
    font-size: 20px;
}

.professional button {
    cursor: pointer;
    padding: 20px 186px;
    margin-top: 25px;
    font-size: 20px;
    color: #fff;
    background-color: transparent;
    background-color: #303030;
    border: none;
}

.ultimate {
    height: 550px;
    width: 25%;
    background-color: #e8631c;
    border-radius: 10px;
}

.ultimate img {

    padding: 90px;
}

.ultimate h1 {

    padding: 20px;
    text-align: center;
    color: #fff;
    font-size: 30px;
}

.ultimate p {

    color: #fff;
    text-align: center;
    font-size: 20px;
}

.ultimate button {
    cursor: pointer;
    padding: 20px 186px;
    margin-top: 25px;
    font-size: 20px;
    color: #fff;
    background-color: transparent;
    background-color: #303030;
    border: none;
}

/*pricing ends*/

/*catalouge starts*/
.catalouge {
    height: 2605px;
    background-color: #e8631c;
    overflow: hidden;
}

.cat1 {
    height: 1304px;
    width: 50%;
    float: left;

}

.cat1 img {

    width: 100%;
    overflow: hidden;
}

.cat2 {
    height: 1304px;
    width: 50%;
    float: right;
    /* background-color: aqua; */
}

.cat2 h1 {
    color: #fff;

    font-size: 60px;
    margin: 500px 0px 70px 60px;
}

.cat2 p {
    color: #fff;
    font-size: 30px;
    margin: 0px 0px 70px 60px;
}

.cat2 button {
    cursor: pointer;
    padding: 20px 150px;

    font-size: 20px;
    color: #fff;
    background-color: transparent;
    background-color: #303030;
    border: none;
    margin-left: 70px;
    border-radius: 10px;
}

.cat3 {
    height: 1604px;
    width: 50%;
    float: right;


}

.cat3 img {

    width: 100%;
    overflow: hidden;
}

.cat4 {
    width: 50%;
    height: 1304px;
    float: left;
}

.cat4 h1 {
    color: #fff;
    text-transform: uppercase;
    font-size: 60px;
    margin: 500px 0px 70px 60px;
}

.cat4 p {
    color: #fff;
    font-size: 30px;
    margin: 0px 0px 70px 60px;
}

.cat4 button {
    cursor: pointer;
    padding: 20px 150px;

    font-size: 20px;
    color: #fff;
    background-color: transparent;
    background-color: #303030;
    border: none;
    margin-left: 70px;
    border-radius: 10px;
}

/* catalouge ends*/

/* statistics starts*/
.statistics {

    color: #fff;
    height: 920px;
    background-color: #303030;
}

.statis_text {
    padding-top: 140px;
    margin-bottom: 250px;
}

.statis_text h1 {
    text-align: center;
    color: #fff;
    font-size: 60px;
}

.statis_text p {
    text-align: center;
    color: #fff;
    font-size: 25px;
    margin-top: 30px;
}

.statis_content {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}

.club {
    height: 200px;
    width: 25%;

}

.club h1 {

    font-size: 80px;
}

.club p {

    font-size: 40px;
}

.member {
    height: 200px;
    width: 25%;

}

.member h1 {
    font-size: 80px;
}

.member p {
    font-size: 40px;
}

.community {
    height: 200px;
    width: 25%;

}

.community h1 {
    font-size: 80px;
}

.community p {
    font-size: 40px;
}

/* statistics ends*/

/*credit starts*/
.credit {
    background: url(../Images/Credit.png);
    height: 1270px;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: #fff;
}

.credit p {

    padding-top: 539px;
    font-size: 50px;
}

.credit h1 {

    margin-top: 95px;
    font-size: 60px;
}

/*credit ends*/

/*subscribe starts*/
.subscribe {
    height: 500px;
    background-color: #e8631c;
}

.subscribe h1 {
    color: #fff;
    text-align: center;


    font-size: 60px;
    padding: 60px;
}

.subscribe p {

    color: #fff;
    text-align: center;
    font-size: 30px;
    margin-bottom: 97px;
}

.form_content {
    width: 80%;
    text-align: center;
    margin: 0px auto;
}

input[type="email"] {
    width: 30%;
    padding: 10px;
    border: none;

}

input[type="Submit"] {
    margin-left: -5px;
    border: none;
    background-color: #303030;
    color: #fff;
    padding: 9px 40px;
    font-size: 20px;
    /* position: absolute; */
}

input[type="email"]::placeholder {
    color: black;
    font-size: 15px
}

input[type="email"]:focus {
    outline: none;
}

/*subscribe ends*/

/*footer starts*/
footer {
    height: 410px;
    background-color: #303030;
}

.musicology {
    padding: 70px;
    width: 20%;
    float: left;
}

.musicology h1 {

    color: #fff;
    font-size: 40px;
}

.musicology p {

    color: #fff;
    font-size: 20px;
    margin: 20px 0px;
}

.musicology ul {
    list-style: none;
    /* margin-top: 10px; */
}

.musicology ul li {
    margin-top: 30px;
}

.musicology ul li a {
    color: #fff;
    font-size: 30px;
    text-decoration: none;
    margin-right: 15px;
    float: left;
}

.contacts {
    width: 50%;
    float: right;
    display: flex;
    /* padding: 70px; */
    margin-top: 50px;
    justify-content: space-evenly;
}

.about {

    padding: 20px;
}

.about h1 {

    font-size: 40px;
    color: #fff;
}

.about ul {

    margin: 20px 0px;
}

.about ul li {
    list-style: none;
    margin-bottom: 10px;
}

.about ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    /* margin: 10px; */
}

.services {

    padding: 20px;
}

.services h1 {

    font-size: 40px;
    color: #fff;
}

.services ul {

    margin: 20px 0px;
}

.services ul li {
    list-style: none;
    margin-bottom: 10px;
}

.services ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    /* margin: 10px; */
}


.other {

    padding: 20px;
}

.other h1 {

    font-size: 40px;
    color: #fff;
}

.other ul {

    margin: 20px 0px;
}

.other ul li {
    list-style: none;
    margin-bottom: 10px;
}

.other ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    /* margin: 10px; */
}



/*footer starts*/